@{
    Layout = "~/Views/Shared/Pwa/_LayoutNoHeader.cshtml";
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <div class="center" style="text-align:center;margin-top:280px;">
        <div class="card">
            <div class="card-body bg-danger" style="color: #ffffff;">
                <h2>@ViewData["Title"]</h2>
                <p>You do not have access to this resource.</p>
            </div>
        </div>
    </div>
</div>

