<meta charset="utf-8">
<title>
    @if (ViewBag.Title?.Length > 0)
    {
        <text>@ViewBag.App - @ViewBag.Title</text>
    }
    else
    {
        @ViewBag.App
    }
</title>
<meta name="description" content="@ViewBag.Title">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">

<!-- Begin Added by Ekitea-->
<link rel="stylesheet" href="~/lib/kendo/styles/kendo.common.min.css" />
<link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.min.css" />
<link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.mobile.min.css" />
<link rel="stylesheet" href="~/lib/kendo/styles/kendo.custom.css" />
<!-- End Added by Ekitea-->

<link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/site.css">
<partial name="_Favicon" />