<div class="page-logo">
    @*<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">*@
    <a href="~/" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
        <img src="~/img/@ViewBag.Logo" width="32" alt="@ViewBag.AppFlavor" aria-roledescription="logo">
        @*<span class="page-logo-text mr-1">@ViewBag.AppFlavor</span>*@
        @*<span class="position-absolute text-white small pos-top pos-right mr-2 mt-n2">@ViewBag.AppFlavorSubscript</span>*@
        @*<span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">@ViewBag.AppFlavorSubscript</span>*@
        @*<i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>*@
    </a>
</div>