@*@if (ViewBag.Category1?.Length > 0)
{*@
<div style="background-image: linear-gradient(to right, rgb(240,252,251), rgb(225,248,217)); padding: 0 32px 0 32px">
    <ol class="breadcrumb page-breadcrumb">
	    <li class="breadcrumb-item"><a href="~/">@ViewBag.AppName</a></li>
	    @if (ViewBag.Category1?.Length > 0)
        {<li class="breadcrumb-item">@ViewBag.Category1</li>}
	    @if (ViewBag.Category2?.Length > 0)
        {<li class="breadcrumb-item">@ViewBag.Category2</li>}
	    <li class="breadcrumb-item active">@ViewBag.Title</li>
	    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
</div>
@*}*@
