<div class="page-logo">
    <a href="~/Pwa" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
        <img src="~/img/@ViewBag.Logo" width="32" alt="@ViewBag.AppFlavor" aria-roledescription="logo">
        <span class="page-logo-text mr-1">@ViewBag.AppFlavor</span>
        <span class="position-absolute text-white small pos-top pos-right mr-2 mt-n2">@ViewBag.AppFlavorSubscript</span>
    </a>
</div>