@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_LayoutNoHeader";
    ViewData["Title"] = "Session Has Expired";
}

    <div class="container">
        <div class="center" style="text-align:center;margin-top:50px;">
            <div class="panel" style="border-radius:20px;" >
                <div class="panel-container">
                    <div class="panel-content bg-warning" style="color:#ffffff;border-radius:20px;">
                        <h2>@ViewData["Title"]</h2>
                        <p>Maaf Session Anda telah habis silahkan <a id="login" href="#">login</a> kembali !.</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>

<script>
    $("#login").click(function (e) {
        if (window.parent.parent.gotoLogin) {
            window.parent.parent.gotoLogin();
        }else if (window.parent.gotoLogin) {
            window.parent.gotoLogin();
        }else {
            window.location.href = "@ViewBag.BaseUrl/account/login";
        }
    });
</script>
