/* Bootstrap Validation Summary Override */
.validation-summary-valid {
    display: none;
}

.validation-summary-errors ul {
    margin-bottom: 0;
    padding-left: 1rem;
}

.alert.validation-summary-errors {
    margin-bottom: 1rem;
}

/* Give subscript a little bit more space before the chevron */
.pos-right {
    right: 4px;
}

/* Reference classes, no implementation */
.js-waves-off, .js-waves-on, .js-get-date, .js-collapse, .js-modal-settings, .js-filter-message, .js-buttons, .js-icon-class, .js-icon-copy, .base, .needs-validation, .flex-start, .text-faded, .app-container-demo, .has-tooltip, .has-popover {
}

.js-bg-color, .js-bg-gradient, .js-bg-gradient-demo, .js-bg-target {
}

/* Enter custom CSS rules for your application here */


@font-face {
    font-family: "SF-UI-Display";
    src: url("fonts/SF-UI-Display-Black.otf");
}

@font-face {
    font-family: "SF-UI-Display";
    src: url("fonts/SF-UI-Display-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "SF-UI-Display";
    src: url("fonts/SF-UI-Display-Heavy.otf");
}

@font-face {
    font-family: "SF-UI-Display";
    src: url("fonts/SF-UI-Display-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "SF-UI-Display";
    src: url("fonts/SF-UI-Display-Medium.otf");
}

@font-face {
    font-family: "SF-UI-Display";
    src: url("fonts/SF-UI-Display-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Bold 2.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-BoldItalic 2.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-BoldItalic 3.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-BoldItalic.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Heavy.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-HeavyItalic.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-LightItalic.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Medium.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-MediumItalic.otf");
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-RegularItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-Semibold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "SF-UI-Text";
    src: url("fonts/SF-UI-Text-SemiboldItalic.otf");
    font-style: italic;
    font-weight: bold;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

main {
    padding-top: 0px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "SF-UI-Text";
    font-size: 10pt;
}

/*================================*/
/*GRID */
.k-button.k-button-icontext.v-approve {
    min-width: 20px;
}

.k-button.k-button-icontext.v-reject {
    min-width: 20px;
}

.k-button.k-button-icontext.v-plus {
    min-width: 20px;
}

.k-button.k-button-icontext.v-list {
    min-width: 20px;
}

.k-button.k-button-icontext.v-view {
    min-width: 20px;
}

.k-button.k-button-icontext.v-pencil {
    min-width: 20px;
}

.k-button.k-button-icontext.v-copy {
    min-width: 20px;
}

.k-button.k-button-icontext.v-update {
    min-width: 20px;
}

.k-button.k-button-icontext.v-close {
    min-width: 20px;
}

.k-button.k-button-icontext.v-reset {
    min-width: 20px;
}

.k-button.k-button-icontext.view_map {
    min-width: 20px;
}

.k-button.k-button-icontext.v-docx {
    min-width: 20px;
}

.k-button.k-button-icontext.v-xlsx {
    min-width: 20px;
}

.k-button.k-button-icontext.v-setuju {
    min-width: 20px;
}

.k-button.k-button-icontext.v-select {
    min-width: 20px;
}

.k-button.k-button-icontext.v-take-over-user {
    min-width: 20px;
}

.k-button.k-button-icontext.v-terima {
    min-width: 20px;
}

.k-button.k-button-icontext.v-kirim {
    min-width: 20px;
}

.k-button.k-button-icontext.v-common {
    min-width: 20px;
}

.k-button.k-button-icontext.v-cancel {
    min-width: 20px;
}

.k-button.k-button-icontext.v-plan {
    min-width: 20px;
}

/**/
.v-approve {
    background: url("../img/v-approve.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    height: 20px;
}

a.v-approve:hover {
    background: url("../img/v-approve.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-approve:focus {
    background: url("../img/v-approve.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-reject {
    background: url("../img/v-reject.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    height: 20px;
}

a.v-reject:hover {
    background: url("../img/v-reject.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-reject:focus {
    background: url("../img/v-reject.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-plus {
    background: url("../img/v-plus.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    height: 20px;
}

a.v-plus:hover {
    background: url("../img/v-plus.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-plus:focus {
    background: url("../img/v-plus.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-list {
    background: url("../img/v-list.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-list:hover {
    background: url("../img/v-list.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-list:focus {
    background: url("../img/v-list.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-view {
    background: url("../img/v-view.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-view:hover {
    background: url("../img/v-view.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-view:focus {
    background: url("../img/v-view.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-pencil {
    background: url("../img/v-pencil.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-pencil:hover {
    background: url("../img/v-pencil.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-pencil:focus {
    background: url("../img/v-pencil.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-copy {
    background: url("../img/v-copy.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-copy:hover {
    background: url("../img/v-copy.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-copy:focus {
    background: url("../img/v-copy.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}


.v-update {
    background: url("../img/v-update.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-update:hover {
    background: url("../img/v-update.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-update:focus {
    background: url("../img/v-update.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-close {
    background: url("../img/v-close.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-close:hover {
    background: url("../img/v-close.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-close:focus {
    background: url("../img/v-close.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-reset {
    background: url("../img/change_password.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-reset:hover {
    background: url("../img/change_password.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-reset:focus {
    background: url("../img/change_password.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.view_map {
    background: url("../img/view_map.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.view_map:hover {
    background: url("../img/view_map.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.view_map:focus {
    background: url("../img/view_map.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-docx {
    background: url("../img/v-docx.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-docx:hover {
    background: url("../img/v-docx.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-docx:focus {
    background: url("../img/v-docx.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-xlsx {
    background: url("../img/v-xlsx.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-xlsx:hover {
    background: url("../img/v-xlsx.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-xlsx:focus {
    background: url("../img/v-xlsx.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-setuju {
    background: url("../img/v-valid.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-setuju:hover {
    background: url("../img/v-valid.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-setuju:focus {
    background: url("../img/v-valid.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-select {
    background: url("../img/v-select.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-select:hover {
    background: url("../img/v-select.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-select:focus {
    background: url("../img/v-select.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-take-over-user {
    background: url("../img/take_over_user.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-take-over-user:hover {
    background: url("../img/take_over_user.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-take-over-user:focus {
    background: url("../img/take_over_user.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-terima {
    background: url("../img/v-terima.png") no-repeat;
    background-position: 2px 2px;
    /*background-color: #daecf4;
    padding-left: 1rem;*/
    padding-right: 1rem;
    height: 20px;
}

a.v-terima:hover {
    background: url("../img/v-terima.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-terima:focus {
    background: url("../img/v-terima.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}


.v-kirim {
    background: url("../img/v-kirim.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    height: 20px;
}

a.v-kirim:hover {
    background: url("../img/v-kirim.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-kirim:focus {
    background: url("../img/v-kirim.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-cancel {
    background: url("../img/v-cancel.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    height: 20px;
}

a.v-cancel:hover {
    background: url("../img/v-cancel.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-cancel:focus {
    background: url("../img/v-cancel.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-plan {
    background: url("../img/v-plan.png") no-repeat;
    background-position: 2px 2px;
    background-color: #daecf4;
    height: 20px;
}

a.v-plan:hover {
    background: url("../img/v-plan.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

a.v-plan:focus {
    background: url("../img/v-plan.png") no-repeat;
    background-position: 2px 2px;
    background-color: #97DCF8;
    height: 20px;
}

.v-common {
    background-color: #daecf4;
    height: 20px;
    color: #000000 !important;
}

a.v-common:hover {
    background-color: #97DCF8;
    height: 20px;
}

a.v-common:focus {
    background-color: #97DCF8;
    height: 20px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.250);
    /*border-radius: 12px;*/
    margin: 12px 12px 0 12px;
}

.card-header {
    /*background-color: #7D7D7D;*/
    background-color: #000000 !important;
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
    /*border-radius: 12px 12px 0 0 !important;*/
    padding: 6px 10px;
}

.card-body {
    padding: 8px 12px;
}

.k-grid-content {
    min-height: 240px;
}

.k-grid-content, .k-grid-content-locked, .k-pager-wrap {
    white-space: normal;
    font-size: 10pt;
}

.k-grid-header th.k-header {
    white-space: normal;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

.k-grid tr td {
    border-width: 0 0 1px 1px;
    vertical-align: top;
    padding: 1px 2px;
}

.k-grid-header .k-header {
    overflow: visible;
    white-space: normal;
}

.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item {
    background-color: #FFCD00;
    /*background-color: #444242;*/
}
/*.k-header, .k-treemap-title, .k-grid-header .k-header > .k-link {
    color: #fff;
}*/
.k-alt, .k-separator, .k-resource.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child {
    background-color: #F2F2F2;
}

.k-block, .k-widget, .k-input, .k-textbox, .k-group, .k-content, .k-header, .k-filter-row > th, .k-editable-area, .k-separator, .k-textbox > input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-grid-header, .k-grid-header-wrap, .k-grid-header-locked, .k-grid-footer-locked, .k-grid-content-locked, .k-grid td, .k-grid td.k-state-selected, .k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-panel, .k-panelbar .k-content, .k-treemap-tile, .k-slider-track, .k-splitbar, .k-dropzone-active, .k-tiles, .k-tooltip, .k-button-group .k-tool, .k-upload-files, .k-popup.k-align .k-list .k-item:last-child, .k-editor-dialog .k-tabstrip-items {
    /*border-color: #dee2e6;*/
}

.k-grid tr th {
    border-color: #dee2e6;
}

.k-grid tr td {
    border-color: #dee2e6;
}

.table th {
    vertical-align: middle;
    background-color: #FFD527;
    padding: 4px;
    font-weight:bold;
}
/*FORM*/
.title-header {
    font-size: large;
}

.form-item-header {
    clear: both;
    padding: 2px 2px;
    /*display: table-row;*/
    width: 100%;
    min-height: 20px;
    /*border-top: 1px solid #ccc;*/
}

.form-item {
    clear: both;
    padding: 2px 2px;
    /*display: table-row;*/
    width: 100%;
    min-height: 20px;
    border-top: 1px dotted #ccc;
    text-align: left;
}

.form-item-none {
    clear: both;
    padding: 2px 2px;
    display: none !important;
}

.form-item-label {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 160px;
    text-align: left;
    font-weight: bold;
}

.form-item-label80 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 80px;
    text-align: left;
    font-weight: bold;
}

.form-item-label90 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 90px;
    text-align: left;
    font-weight: bold;
}

.form-item-label100 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

.form-item-label100 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

.form-item-label105 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 105px;
    text-align: left;
    font-weight: bold;
}

.form-item-label110 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 110px;
    text-align: left;
    font-weight: bold;
}

.form-item-label120 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 120px;
    text-align: left;
    font-weight: bold;
}

.form-item-label140 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 140px;
    text-align: left;
    font-weight: bold;
}

.form-item-label160 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 160px;
    text-align: left;
    font-weight: bold;
}

.form-item-label180 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 180px;
    text-align: left;
    font-weight: bold;
}

.form-item-label200 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 200px;
    text-align: left;
    font-weight: bold;
}

.form-item-label220 {
    clear: both;
    float: left;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
    width: 220px;
    text-align: left;
    font-weight: bold;
}

.form-item-separator {
    display: table-cell;
    width: 1px;
    vertical-align: top;
    padding: 2px;
}
.form-edit-label {
    clear: both;
    /*float: left;*/
    display: block;
    /*vertical-align: top;*/
    /*padding: 2px;*/
    /*width: 120px;*/
    text-align: left;
    font-weight: bold;
}
.form-item-field {
    clear: right;
    display: table-cell;
    vertical-align: top;
    padding: 1px;
    text-align: left;
}

.form-item-view {
    clear: right;
    display: table-cell;
    vertical-align: top;
    padding: 1px;
    text-align: left;
}

.form-item-button {
    clear: both;
    padding: 2px 132px;
    display: table;
    width: 100%;
}

.k-window-titlebar {
    padding: 6px 12px;
}

.k-window-title {
    font-size: inherit;
}

.required {
    font-weight: bold;
    color: red;
}


/*NOTIFIKASI */
/* Notifications */
.k-notification h3 {
    padding: 30px 10px 5px;
    font-size: 1em;
    line-height: normal;
}

.k-notification img {
    margin: 20px;
    float: left;
}


/* Info template */
.new-mail {
    width: 300px;
    height: 100px;
}

/* Error template */
.wrong-pass {
    min-width: 300px;
    height: 100px;
}

/* Success template */
.upload-success {
    min-width: 300px;
    height: 100px;
}


/* For Bootstrap v4 theme */
.k-bootstrap-v4 .k-notification h3 {
    padding: 10px 10px 5px;
}

.k-bootstrap-v4 .k-notification img {
    margin: 10px 20px 0 0;
}

.k-bootstrap-v4 .new-mail,
.k-bootstrap-v4 .wrong-pass,
.k-bootstrap-v4 .upload-success {
    width: calc( 300px - 2.5rem );
    height: calc( 100px - 1.5rem );
}


/* For Material v2 theme */
.k-material-v2 .k-notification h3 {
    padding: 10px 10px 5px;
}

.k-material-v2 .k-notification img {
    margin: 10px 20px 0 0;
}

.k-material-v2 .new-mail,
.k-material-v2 .wrong-pass,
.k-material-v2 .upload-success {
    width: 270px;
    height: 70px;
}

.k-widget.k-tooltip-validation {
    display: table-cell;
}

.notif-image {
    display: inline;
}

.notif-text {
    display: inline;
    background-color: #ffffff;
}

.item_grid_filter {
    display: inline-block;
    padding: 2px;
}

input.k-textbox {
    line-height: normal;
    text-indent: 2px;
}

/* COMBOBOX */
.k-input[type="text"], .k-input[type="number"], .k-multiselect .k-input, .k-picker-wrap .k-input, .k-textbox, .k-textbox > input {
    font-size: 10pt;
}

logo {
    font-size: 35px;
    color: #0570f4;
    font-weight: bold;
    text-shadow: 2px 2px 2px #a5a5a5
    /*line-height: 1.5em;*/
    /*padding-left: 1.7em;*/
}

    logo:before {
        content: '\2006';
        position: absolute;
        /*height: 0.095em;*/
        left: 0;
        /*box-shadow: 0.35em 0.35em 0 0.25em #f8510c, 1.05em 0.35em 0 0.25em #7eba00, 0.35em 0.97em 0 0.25em #00a3f4, 1.05em 0.97em 0 0.25em #ffba00;*/
    }

.table td, .table th {
    padding: 2px;
}

.table th {
    vertical-align: middle;
}

html .k-upload {
    min-width: 400px;
}

.k-dropdown-wrap, .k-numeric-wrap, .k-picker-wrap {
    text-align: left;
}

/*==============================*/
.IdpItemListTitle {
    font-weight: bold;
    display: inline-block;
}

.profil_area {
    background-color: #ffffff;
    padding: 10px 10px 5px;
    border-radius: 5px;
}

.box-menu {
    font-weight: bold;
    height: 50px;
    width: 100px;
    background-color: #00afff;
    vertical-align: middle;
}

    .box-menu:hover {
        background-color: #FFCD00;
    }

.filter_content {
    display: grid;
    /*column-count: 4;
    grid-template-columns: 25% 25% 25% 25%;*/
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: auto auto auto auto;*/
    /*grid-gap: 20px;
    padding: 2px;
    break-inside: avoid;*/
}

.filter_cols {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2px 0;
}

.filter_col {
    flex: 1;
    /*border: 1px solid #e4e4e4;*/
    margin: 2px;
    padding: 2px;
    &:first-child

{
    margin-left: 0;
}

&:last-child {
    margin-right: 0;
}

}

@media screen and (max-width: 980px) {
    .filter_cols .filter_col {
        margin-bottom: 5px;
        flex-basis: 40%;
        &:nth-last-child(2)

{
    margin-right: 0;
}

&:last-child {
    flex-basis: 100%;
    margin: 0;
}

}
}

@media screen and (max-width: 680px) {
    .filter_cols .filter_col {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}


.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    white-space: normal;
}

.dropdown-item-text {
    white-space: nowrap;
}

.topbar {
    height: 60px;
}

.mb-4, .my-4 {
    margin-bottom: 10px !important;
}

.panel-heading {
    padding: 10px;
    background-color: #505050;
    color:#fff
}
.panel-body {
    padding: 4px;
}
.panel-footer {
    padding: 4px;
    text-align:center;
    background-color:#dddddd;
}
.panel-toolbar {
   padding: 15px;
}
.label-form {
    display:block;
}
.label-filter {
    display: block;
}
.form-group {
    clear: both;
    margin-bottom: 0.4rem;
    border-top: dotted #ccc 1px;
}
.form-group-none {
    clear: both;
    display: none;
}
.panel-form {
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /*max-width: max-content;*/
}

.panel-heading-filter {
    padding: 4px 10px 4px 10px;
    background-color: #dddddd;
}

.panel-body-filter {
    padding: 4px;
}

.panel-footer-filter {
    padding: 4px 10px 4px 10px;
    text-align: left;
    /*background-color: #dddddd;*/
}